header .img img{
    width:100px;
    height: 100px;
}

.set-margin{
    margin-left: 15px;
    margin-right: 15px;
}

header .title{
    position: relative;
}

header .title h1{
    position: absolute;
    top:25px;
}
.container{
    display: flex;
}

.line{
    border: 3px solid #adff2f;
    margin-bottom: 20px;
}

.color{
    border-color: red;
}

li iframe{
    margin: 0 auto;
    width: 100%;
}
li{
    width: 80%;
    margin: 0 auto;
}

ul{
    width: 100%;
    margin: 0 auto;
}

footer{
    width: 100%;
    text-align: center;
}


li{
    width: 80%;
    margin: 0 auto;
}

ul{
    width: 100%;
    margin: 0 auto;
}

footer{
    width: 100%;
    text-align: center;
}
